.section1 {
    background-color: white;


    .androidFlex {
        // display: flexbox;
        // justify-content: center;
        text-align: center;
        padding: 5rem;
    }

    h1 {
        font-size: 44px;
        line-height: 1.18182;
        // letter-spacing: -0.5px
        font-weight: bold;
    }
}

