.section1 {
    background-color: white;
    min-width: 100%;
    overflow: hidden;


    .androidFlex {
        text-align: center;
        padding-top: 5rem;
    }

    h1 {
        font-size: 44px;
        line-height: 1.18182;
        // letter-spacing: -0.5px
        font-weight: bold;
        padding-bottom: 1.5rem
    }

    p {
        padding-bottom: 2rem;
    }

    .appleFlex {
        display: flex;
        justify-content: center;

        img {
            height: 4.5rem;
            width: 12rem;
            padding: .5rem;  
        }

    }

    .maxDesktop {
        width: 100%;
        height: auto;

    }

    .maxGmail {
        width: 100%;
        height: auto;
        padding: 4rem 0;
    }

    .gmailFlex {
        display: flex;
        justify-content: space-between;
        padding: 2rem 0;

        // justify-content: ;
    }

    %gmailFlex1 {
        background-color: rgb(248, 249, 250);
        width: 50%;
        overflow: hidden;
        padding: 4rem 0 0;
        margin: 1.5rem;
    }

    %paddingtext {
        padding-left: 4rem;
        width: 92%
    }

    .gmailFlex1 {
      @extend %gmailFlex1;

      h1, p {
        @extend %paddingtext
    }
    }

    .gmailFlex2 {
        @extend %gmailFlex1;

        h1, p {
            @extend %paddingtext
        }
    }

    %gmailFlex2 {
        background-color: rgb(255, 255, 255);
        width: 50%;
        overflow: hidden;
        // padding: 4rem 0;
        margin: 1.5rem;
    }

    .gmailFlex3 {
        @extend %gmailFlex2;
        h1, p {
            @extend %paddingtext
        }
    }

    %gmailFlexIn {
        display: flex;
        align-items: center;
    }

    .gmailFlexIn {
       @extend %gmailFlexIn;
    }

    .gmailAlign {
        background-color: rgb(248, 249, 250);
        @extend %gmailFlexIn;
    }

    .gmailFlex4 {
        @extend %gmailFlex2;
    }


}

