.section1 {
    background-color: white;
    min-width: 100%;
    overflow: hidden;


    .androidFlex {
        text-align: center;
        padding-top: 5rem;
    }

    h1 {
        font-size: 44px;
        line-height: 1.18182;
        // letter-spacing: -0.5px
        font-weight: bold;
        padding-bottom: 1.5rem
    }

    p {
        padding-bottom: 2rem;
    }

    .appleFlex {
        display: flex;
        justify-content: center;

        img {
            height: auto;
            width: 12rem;
            padding: .5rem
        }

    }

    .maxDesktop {
        width: 100vw;
        height: auto;
        margin-right: 23rem;
        font-size: larger;
    }

    .maxGmail {
        width: 100%;
        height: auto;
    }

    .gmailFlex {
        display: flex;
        justify-content: space-between;
        padding: 4rem 0;

        // justify-content: ;
    }

    .gmailFlex1 {
        background-color: rgb(247, 247, 247);
        width: 50%;
        overflow: hidden;
        padding: 6rem 0;
        margin: 1.5rem;
    }

    .gmailFlex2 {
        background-color: rgb(247, 247, 247);
        width: 50%;
        overflow: hidden;
        padding: 6rem 0;
        margin: 1.5rem;
    }


}

