// @import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');

body, html{
		width: 100%;
		height: 100%;	
		margin: 0;
	}

#i1, #i2, #i3 { display: none;}

.container {
		margin: 0 auto;
        position: relative;
        padding: 3rem 0 7rem 0;
        width: 100%;
        height: 90vh;
		min-height: 80vh;
        background-color: #f8f9fa;
		border-radius:10px ; 
	}

    .imageFlex {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 4rem;
    }

    %btnCarousel {
        background-color: #1a73e8;
        padding: 1rem 2rem; 
        border-radius: 4px;
        color: white;
        transition: all .3s linear;  // add sass variable
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: .75px;

        &:hover {
            background-color: #1155ad;
        }
    }

    .hideMinButton {
        display: none
    }

    .imageAbs {
        padding: 5rem;
        max-width: 50%; 

        h1 {
            font-size: 45px;
            font-weight: 500;
            padding-bottom: 2rem; 
            letter-spacing: 5px;
        }

        p {
            line-height: 1.625;
            font-size: 16px;
            letter-spacing: 0;
            padding-bottom: 2rem;
        }

    
        button {
           @extend %btnCarousel
        }

    }



    
	.slide_img {
		position: absolute;
        width: 100%;
        height: 100%;
        padding-right: 2rem;
        background-color: #f8f9fa;

        h5 {
            @extend %btnCarousel;
            width: 30%;
            text-align: center;
            
            padding: .7rem 0;
            margin: 1rem 0 0 11rem;
            font-size: 14px;
        }

        img {
            width: 42rem;
            height: 25rem;
            padding-right: 2.4rem;

        }
    }
    
    // .carousel3{
    //     width: 40rem !important;
    //     height: 22rem !important;
    //     padding-right: 4rem;
    // }
	

	 .prev, .next{
        width: 5%;
        display: flex;
        justify-content: space-around;
        position: absolute;
        display: block;
        margin: 0 auto;
		top:50%; 
		background-color: rgba(179, 24, 24, 0.2);  
        color:rgba(0, 0, 0, 0.9);
        background-color: rgba(255, 255, 255, 0);
		z-index: 99;
		transition: .45s;
		cursor: pointer;
        text-align: center;
	}

	.next{right:0;}
	.prev{left:0;}

	label span{
		position: absolute;
        font-size: 3rem;
        font-weight: lighter;
        top: 50%;
        margin-right: 3rem;
	 	transform: translate(-50%, -50%);
	}

	// .prev:hover, .next:hover{
	// 	transition: .3s;
	// 	background-color: rgba(88, 88, 89,.8);
	// 	color: #ffffff; 
	// }

.container .nav_slide{
	width: 100%;
	bottom: 12%;
	height: 11px;
	position: absolute;
	text-align: center;
	z-index: 99;
	cursor: default;
}

.nav_slide .dots {
	top: 50px;
	width: 12px;
	height: 12px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
    // background-color: rgba(0, 0, 0, 0.6);
    
    border: 1px solid rgb(0, 0, 0);
	transition: .4s;
}

.nav_slide .dots:hover {
	cursor: pointer;
	background-color: rgba(94, 94, 94, 0.9);
	transition: .25s
}

.slide_img{z-index: -1;}

#i1:checked ~ #one,
#i2:checked ~ #two, 
 #i3:checked ~ #three { 
        z-index: 9;
        animation: scroll 1s ease-in-out;
}

#i1:checked  ~  .nav_slide #dot1,
#i2:checked  ~  .nav_slide #dot2,
#i3:checked  ~  .nav_slide #dot3 {
    background-color: rgb(0, 0, 0);
}

@keyframes scroll{
	0%{	
        opacity:.4;
    }
	100%{
        opacity:1;
    }
}		



@media only screen and (max-width: 1070px) {

    .container {


        min-height: 100vh;

        .nav_slide .dots {
            top: -50px;
            left: -20px;
        }

        .imageFlex {
            position: relative;
            display: inline;
            justify-content: space-between;
            align-items: center;
            padding-top: 4rem;

            .imageAbs {
                padding: 5rem 0 0 1rem;
                max-width: 100%;
                text-align: center;

                h1 {
                    font-size: 34px;
                    letter-spacing: 0;
                    font-weight: 500;
                }

                p {
                    font-size: 14px;
                    padding: 0;
                }

                .hidebutton {
                    display: none;
                }
            }

            img {
                display: block;
                text-align: center;
                margin: 0 auto;
                width: 80%;
                transform: translateY(-10%);
            }


            .carousel23 {
                width: 50%;
                height: 50%;
                transform: translate(5%, -5%);

            }

            .hideMinButton {
                display: block;
                padding: 1rem .2rem;
                margin: 0 auto;
                width: 15%;
                transform: translate(0%, 40%);
            }



        }

        

    }
}

@media only screen and (max-width: 768px) {
    .container {

        .nav_slide .dots {
            top: -40px;
            left: -20px;
            width: 10px;
	        height: 10px;
        }
        .imageFlex {
            .imageAbs {
                padding: 5rem 0 0 1rem;
                max-width: 100%;
                text-align: center;

                h1 {
                    font-size: 34px;
                }

                p {
                    font-size: 14px;
                    padding: 0;
                }

                .hidebutton {
                    display: none;
                }

               
        
                h5 {
                    width: 30%;
                    // text-align: center;
                    
                    padding: .7rem 0;
                    margin: 1rem 0 0;
                    font-size: 14px;
                }
            }

            img {
                width: 90%;
                height: auto;
                margin: 0 auto;
            }

            .carousel23 {
                width: 90%;
                height: 52%;
                transform: translate(5%, -5%);

            }


            .hideMinButton {
                display: block;
                padding: .7rem .5rem;
                margin: 0 auto;
                width: 18%;
                transform: translate(0%, 20%);
            }
        }
    }
}




@media screen and (max-width: 600px){
	.container{
		border: none;
		width: 100%;
		height: 0;
        padding-bottom: 70%; 



        .nav_slide .dots {
            top: -20px;
            left: -20px;
            width: 10px;
	        height: 10px;
        }

        
        .imageFlex {
            img {
                display: block;
                text-align: center;
                margin: 0 auto;
                width: 100%;
                transform: translateX(5%);
            }

            .hideMinButton {
                display: block;
                padding: .7rem .5rem;
                margin: 0 auto;
                width: 30%;
                transform: translate(0%, 180%);
            }

            .carousel23 {
                width: 100%;
                height: 45%;
                transform: translate(5%, -5%);

            }
        }

   


	}	
	
	label span { 
        font-size: 40px;
        margin-right: 1rem;
    }
	
	.prev, .next{
        width: 10%;
        margin-right: 0;
	}	
	.nav_slide .dots{
		width: 12px;
		height: 12px;
	}
}

@media screen and (max-width: 450px){
    .container{
		border: none;
		width: 100%;
        height: 100vh;
        max-height: 100vh;
        padding-bottom: 70%; 
        min-height: 100%;



        .nav_slide .dots {
            top: -20px;
            left: -20px;
            width: 10px;
	        height: 10px;
        }

        
        .imageFlex {
            img {
                display: block;
                text-align: center;
                margin: 0 auto;
                width: 100%;
                transform: translateX(5%);
            }

            .hideMinButton {
                display: block;
                padding: .7rem .5rem;
                margin: 0 auto;
                width: 30%;
                transform: translate(0%, 180%);
            }

            .carousel23 {
                width: 100%;
                height: 42%;
                transform: translate(10%, -5%);

            }
        }
    }
}


