.nav {
    background-color: #ffffff;
    position: fixed;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.12), inset 0 -1px 0 0 #dadce0;
    z-index: 4;

    h1 {
        color: rgb(34, 32, 32)
    }


}

// * {-webkit-font-smoothing: antialiased;}

.nav--body {
    width: 100vw;
    padding: .5rem;
    // color: red;
    display: flex;
    justify-content: space-between;  // add sass variable
    align-items: center;
    padding-left: 2rem;


    .nav--logo {
        display: flex;
        align-items: center;

        img {
            height: 30px;
            width: 40px;
        }

        p {
            padding-left: .5rem;
            font-size: 25px;
            color: rgba(0, 0, 0, 0.726)
        }
    }

    .nav--create {
        // width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        p {
            color: rgba(0, 0, 0, 0.514);
            padding-right: 2rem;
            cursor: pointer;

            &:hover {
                color: black;
                transition: all .3s linear;  // add sass variable
            }


        }

        h5 {
            background-color: #1a73e8;
            padding: 1rem 2rem;
            border-radius: 4px;
            color: white;
            transition: all .3s linear;  // add sass variable
            cursor: pointer;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: .75px;

            &:last-child {
                display: none;
            }

            &:hover {
                background-color: #1155ad;
            }

        }

        .createHide2 {
            display: none;    
        }
    }
}

.nav--media {
    background-color: #ffffff;
    position: fixed;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.12), inset 0 -1px 0 0 #dadce0;
    z-index: 1;


    div {
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4.5rem 1rem 1rem 2rem;

    }

    p {
        color: rgba(0, 0, 0, 0.514);
        cursor: pointer;
        transition: all .3s linear;  // add sass variable

        &:hover {
            color: black;
        }


    }
}

.nav--media {
    display: none
}


@media only screen and (max-width: 900px){

    .nav--body {
        .nav--create {
            p {
                display: none;
            }

            .createHide {
                display: none;
            }

            h5 {
                padding: .7rem 1.7rem;
                &:last-child {
                    display: inline-block;
                }
            }

        }
        
    }

    .nav--media {
        display: block
    }
}